.test {
  background-color: #000;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .4s linear ease;
  transition: .4s linear ease;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

p {
  color: #000;
}

html {
  min-height: 150vh;
  scroll-behavior: none;
  scrollbar-width: 0;
  line-height: 1.6;
  background: #f5f6f8;
}

header, section {
  background-color: #fff !important;
}

#bars {
  display: none;
}

.active {
  background-color: #F50707;
}

.space {
  height: 3px;
  background: #000;
}

.titre {
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1;
}

.img-container {
  position: relative;
  overflow: hidden;
  outline: none;
  padding: 2px;
  cursor: pointer;
}

.img-container .titre {
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: rgba(117, 108, 108, 0.5);
  overflow-x: none;
}

.boutton {
  display: block;
  color: #fff;
  background-color: #F50707;
  width: 100%;
  border: none;
  padding: 4px;
  text-transform: capitalize;
  font-size: 23px;
  margin-top: 10px;
  letter-spacing: 2;
}

.fa-bars {
  font-size: 2em;
  margin-right: 5px;
  color: #F50707;
  cursor: pointer;
}

.news {
  font-size: 20px;
  color: #000;
}

.news:hover {
  text-decoration: underline;
}

.news i {
  width: 35px;
  font-size: 2rem;
  padding: 3px;
  color: #F50707;
}

mark {
  color: #F50707;
  text-transform: capitalize;
}

nav {
  position: fixed;
  z-index: 55;
  background-color: #393939;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 0;
  width: 100%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

nav ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

nav ul li:hover {
  background-color: #F50707;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  outline: none;
  list-style: none;
}

nav ul li a:hover {
  color: #fff;
}

nav ul li a:active {
  background-color: #F50707;
}

header {
  margin: 1rem 0;
}

header .img-container {
  position: relative;
  overflow: hidden;
  outline: none;
  padding: 2px;
  cursor: pointer;
}

header .img-container .titre {
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: rgba(117, 108, 108, 0.5);
  overflow-x: none;
}

footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  background-color: #393939;
  padding: 12px;
  color: #fff;
}

footer .conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .social .fab {
  padding: 10px;
  border-radius: 15px;
  margin-left: 10px;
  color: #fff;
  cursor: pointer;
}

footer .social i:nth-child(1) {
  background-color: blue;
}

footer .social i:nth-child(2) {
  background-color: #3a3ad8;
}

footer .social i:nth-child(3) {
  background-color: #000;
}

footer .social i:nth-child(4) {
  background-color: red;
}

article p {
  text-align: start;
}

.blur {
  -webkit-filter: blur(0.8px);
          filter: blur(0.8px);
}

.read {
  visibility: hidden;
  opacity: 0;
  display: none;
}

#read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin: 0 auto;
  width: 140px;
}

@media (max-width: 980px) {
  .top {
    background-color: #393939;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .top #bars {
    display: block;
  }
  nav {
    position: absolute;
    top: 3.5em;
    bottom: 45;
    display: none;
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 5px;
    padding: 5px;
  }
  nav ul li:nth-child(6) {
    border-bottom: none;
  }
  nav ul li {
    border-bottom: 1px solid #F50707;
    padding: 5px;
  }
  .news {
    font-size: 15px;
  }
  * {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .card {
    border: none !important;
  }
  footer {
    width: 100%;
  }
  footer .left {
    margin-bottom: 45px;
  }
  footer .left .tags {
    margin-top: 45px;
  }
}
/*# sourceMappingURL=style.css.map */