$text-color : #fff;
$bg-color : #393939;
$second-color: #F50707;


.test{
    background-color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .4s linear ease;
    outline: none;
    list-style-type: none;
    text-decoration: none;
    flex-wrap: wrap;
}

p{
    color: #000;
}


html{
    min-height: 150vh;
    scroll-behavior: none;
    scrollbar-width: 0;
    line-height: 1.6;
    background:#f5f6f8;
}

header, section{
    background-color: #fff!important;
}

#bars{
    display: none;
}

.active{
    background-color:$second-color;
}

.space{
    height: 3px;
    background: #000;
}

.titre{
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1;
}

.img-container{
    position: relative;
    overflow: hidden;
    outline: none;
    padding: 2px;
    cursor: pointer;

    .titre{
        position: absolute;
        bottom: 0;
        color: $text-color;
        background-color: rgba(117, 108, 108, 0.5);
        overflow-x: none;
    }
}

.boutton{
    display: block;
    color: $text-color;
    background-color: $second-color;
    width: 100%;
    border: none;
    padding: 4px;
    text-transform: capitalize;
    font-size: 23px;
    margin-top: 10px;
    letter-spacing: 2;
}

.fa-bars{
    font-size: 2em;
    margin-right: 5px;
    color: $second-color;
    cursor: pointer;
}

.news{
    font-size: 20px;
    color: #000;

    &:hover{
        text-decoration: underline;
    }
    i{
        width: 35px;
        font-size: 2rem;
        padding: 3px;
        color: $second-color;
    }
}
mark {
    color: $second-color;
    text-transform: capitalize;
}

nav {
    position:fixed;
    z-index: 55;
    background-color: $bg-color;
    color: $text-color;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;

    ul{
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        overflow: hidden;
   
    li {
       // display: inline-block;
        align-items: center;
        justify-content: center;
        padding: 5px;

        &:hover{
            background-color: $second-color;
        }

        a{
            color: $text-color;
            text-decoration: none;
            outline: none;
            list-style: none;

            &:hover{
                color: $text-color;
            }
            &:active{
                background-color: $second-color;
            }

        }
    }
 }
}

header{
    margin: 1rem 0;

    .img-container{
        position: relative;
        overflow: hidden;
        outline: none;
        padding: 2px;
        cursor: pointer;

        .titre{
            position: absolute;
            bottom: 0;
            color: $text-color;
            background-color: rgba(117, 108, 108, 0.5);
            overflow-x: none;
        }
    }
}



//footer

footer  .left{
    display: flex;
}

footer {
    background-color: $bg-color;
    padding: 12px;
    color: $text-color;

    .conteneur{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .social {

        .fab{
            padding: 10px;
            border-radius: 15px;
            margin-left: 10px;
            color: $text-color;
            cursor: pointer;
        }
        
         i:nth-child(1){
            background-color: blue;
        }
         i:nth-child(2){
            background-color: rgb(58, 58, 216);
        }
         i:nth-child(3){
            background-color: #000;
        }
         i:nth-child(4){
            background-color: red;
        }
    }
}



article p{
    text-align: start;
}

.blur{
    filter: blur(.8px);
}

.read{
    visibility: hidden;
    opacity: 0;
    display: none;
}

#read-more{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 0 auto;
    width: 140px;
}

/////media query

@media (max-width: 980px) {
    .top{
      background-color: $bg-color; 
      display: flex;
      justify-content: space-between; 

      #bars{
          display: block;
      }
    }
   
    nav {
        position: absolute;
        top: 3.5em;
        bottom: 45;
        display: none;
        transform: translateX(105%);

        ul{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            letter-spacing: 5px;
            padding: 5px;

            li:nth-child(6){
                border-bottom: none;
            }

            li{
                border-bottom: 1px solid $second-color;
                padding: 5px;
            }
        }
    }

    .news{
        font-size: 15px;
    }

    *{
        justify-content: center;
        align-items: center;
        text-align: center;
        //font-size: 15px;
    }


    .card{
        border: none!important;
    }

    footer{

        width: 100%;
        .left{
            margin-bottom: 45px;

            .tags{
                margin-top: 45px;
            }
        }
    }

}